# Auto detect text files and perform LF normalization
* text=auto

# Mark images and binary files to prevent corruption during line-ending conversion
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.ttf binary
*.otf binary
